*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#222;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.card{

width:350px;

background:linear-gradient(135deg,#00feba,#5b548a);

padding:30px;

border-radius:20px;

text-align:center;

color:white;

}

.search{

margin-top:20px;

}

input{

width:200px;

padding:12px;

border:none;

border-radius:20px;

outline:none;

}

button{

padding:12px;

border:none;

border-radius:20px;

cursor:pointer;

margin-left:5px;

}

#weather{

margin-top:30px;

}

h1{

margin-bottom:10px;

}